.navbar{
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    font-size: 30px;
}
.navbar :hover{
    background-color: rgb(229, 212, 78);
    color: black;
}
nav{
    background-color: rgb(255, 218, 7);
    border-radius: 30px;
    
}
/*body{
    background-color: aqua;
    display:flex;
    flex-wrap:wrap;                                   
}*/

h1{
    text-align: center;
    font-size: 40px;

}
.navbar-brand{
    display: flex-inline;
    flex-direction: row;
    justify-content: space-around;
    width: 35px;
    
}
hr{
    border-top: 20px solid #fcc601;
}
/*div{
    background-color: rgb(121, 81, 189);
}*/
h2{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: rgb(255,218, 7);
    padding: 100px;
    border-radius: 20px;
    
}
#about{
    display: inline-flex;
    font-size: 30px;
    
}
#about> p{
    padding-left: 20px;
}
#map{
    display: inline-flex;
    font-size: 30px;
}
#map > p{
    padding-left: 30px;
}

h4{
    text-align: center;
    font-size: 35px;
    padding-top: 20px;
}
.first-name{
    padding-left: 20px;
}
.last-name{
    padding-left: 20px;
}
.email{
    padding-left: 20px;
}
.question{
    padding-left: 20px;
}
.username{
    padding-left: 20px;
}
.password{
    padding-left: 20px;
}
.container-2{
    width: 500px;
    box-sizing: border-box;
   background-color: rgb(255, 218, 7);
    border-radius: 10px;
    margin: 0 auto;
}

#first-name{
    margin: 20px 5px 35px 30px;
    display: inline-block;
    background-color: blanchedalmond;
    padding-left: 15px;
}

#last-name{
    margin: 20px 5px 35px 30px;
    display: inline-block;
    background-color: blanchedalmond;
    padding-left: 15px;
}
#email{
    margin: 20px 5px 35px 30px;
    display: inline-block;
    background-color: blanchedalmond;
    padding-left: 15px;
}
   

/* .login{
    background-image: url(../images/login-background.jfif); 
    position: relative;
} */
.container{
    width: 18rem;
    box-sizing: border-box;
    background: transparent;
   background-color: rgb(255, 218, 7);
    border-radius: 10px;
    margin: 0 auto;
    
}

#password{
    
    margin: 20px 5px 35px 30px;
    display: inline-block;
    background-color: blanchedalmond;
    padding-left: 15px;
}
#username{
        
    margin: 20px 15px 15px 30px;
    display: inline-block;
    background-color: blanchedalmond;
    padding-left: 15px;
}

.login-button{
  margin-left: 120px;
  margin-bottom: 50px;
  background-color: rgb(30, 227, 8);
  padding:2px;
  margin-top: 15px;
  border-radius: 15px;
}
.supplies{
    width: fit-content;
    position: sticky;
}
.card-img-top{
    width: 200px;
   
}
.text-muted{
    font-size: 35px;
    text-align: center;
}
.text-muted>button{
    margin-left: 120px;
    margin-bottom: 50px;
    background-color: rgb(8, 136, 227);
    padding:15px;
    margin-top: 15px;
    border-radius: 40px;
    border: 2px solid rgb(8, 136, 227);
    color: rgb(230, 230, 230);
}
.row{
    margin: 50px 12px 50px 12px;
}
.error{
    text-align: center;
    font-size: 60px;
    color: red;
}

.construction{
width: 400px;


}
footer{
    display: flex-inline;
    flex-flow: row wrap;
    justify-content: flex-end;
    margin-top: 130px;
    
}

body{
    background-image: url(../images/background.gif);
    position: static;
}